<div class="row">
  <div class="col-6">
    <app-dona
      [labels]="labels"
      [data]="data"
      [title]="title"
    ></app-dona>
  </div>

  <div class="col-6">
    <app-dona
      [labels]="labels"
      [data]="data"
      [title]="title"
    ></app-dona>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-dona
      [labels]="labels"
      [data]="data"
      [title]="title"
    ></app-dona>
  </div>

  <div class="col-6">
    <app-dona
      [labels]="labels"
      [data]="data"
      [title]="title"
    ></app-dona>
  </div>
</div>
